:root {
  min-width: 224px;
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.divider {
  height: 1px;
  background: rgba(0,0,0,0.1);
  margin: 0.250rem 0;
}

.action {
  color: #000;
  padding: 0.500rem 1rem;
  font-size: 0.750rem;
  line-height: 1.2;
  display: block;
  text-decoration: none;
  cursor: default;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 256px;
}

.action:first-of-type {
  margin-top: 0.125rem;
}

.action:last-of-type {
  margin-bottom: 0.125rem;
}

.action.sortable-ghost {
  visibility: hidden;
}

.action:hover {
  background-color: rgba(0,0,0,0.05);
}

.action:active {
  background-color: #eeeeee;
}

.action .favicon {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: text-top;
  margin-right: 0.5rem;
}

